## Importing Essential Python Libraries for Data Analysis

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Optional: Database connectors for future use
import pymysql
import psycopg2
from sqlalchemy import create_engine

## Loading and Extracting the Walmart Sales Dataset

In [ ]:
import pandas as pd

# Load the Walmart dataset directly
try:
    sales_df = pd.read_csv('Walmart_Dataset.csv')
    print("✅ Dataset loaded successfully!")
    print(sales_df.head())
    print(f"Shape: {sales_df.shape}")
    print("Columns:", sales_df.columns.tolist())
except Exception as error:
    print("❌ Failed to load dataset:", error)

In [ ]:
sales_df

# DATA CLEANING
**0.81% loss of data (10051 ---> 9969)**

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
# "unit_price" and "qunatity" has some missing values.
df.isnull().sum()

In [ ]:
# dropping all rows with nulls values.
df.dropna(inplace= True)

In [ ]:
# varifying null values
df.isnull().sum()

In [ ]:
# checking duplicates
df.duplicated().sum()

In [ ]:
# dropping duplicates
df.drop_duplicates(inplace= True)

In [ ]:
# vefifying duplicates
df.duplicated().sum()

In [ ]:
df.shape

# DATA MANIPULATION

In [ ]:
# "unit_price" contains "$" is an object, needs to be "int".
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
# creating a new column "total".
df['total'] = df['unit_price'] * df['quantity']

In [ ]:
df.head()

In [ ]:
# converting "date" column from object to datetime. 
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.info()

In [ ]:
# Fixing the column values to lower case.
df.columns

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.head()

# DATA EXPLORATION
### SALES PERFORMANCE

**Branch Performance: Branch Which Has The Highest Total Sales**

In [ ]:
# Top - 3 most revenue generating branches are "WALM009, WALM074, WALM003".
df.groupby('branch')['total'].sum().sort_values(ascending= False).head(3)

In [ ]:
branch_sales = df.groupby('branch')['total'].sum().sort_values(ascending= False).head(20)
branch_sales.plot(kind='bar')
plt.title('Total Sales by Branch')
plt.xlabel('Branch')
plt.ylabel('Total Sales')
plt.show()

**Category Analysis: Top Performing Categories In Terms Of Total Sales**

In [ ]:
# Top - 3 most revenue generating categories are "Fashion accessories, Home and lifestyle, Electronic accessories".
df.groupby('category')['total'].sum().sort_values(ascending= False)

**City Analysis: Most Revenue Generating Cities**

In [ ]:
# Top - 3 most revenue generating cities are "Weslaco, Waxahachie, Plano".
df.groupby('city')['total'].sum().sort_values(ascending= False).head(3)

**Monthly Trends: Monthly Trend For Each Branch**

In [ ]:
# Extracting "year-month" from "date". 
df['month'] = df['date'].dt.to_period('M')

In [ ]:
df.head()

In [ ]:
monthly_trends_branch = df.groupby(['month', 'branch'])['total'].sum().reset_index()
monthly_trends_branch

In [ ]:
monthly_trends_branch['month'] = monthly_trends_branch['month'].astype(str)

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(data=monthly_trends_branch, x='month', y='total', hue='branch', marker='o')
plt.title('Monthly Sales Trends by Branch')
plt.xlabel('Month')
plt.ylabel('Total Sales')
plt.xticks(rotation=45)
plt.show()

### CUSTOMER INSIGHTS

**Payment Methods: Most Popular Payment Methods**

In [ ]:
# Credit Card is most prefered payment method.
payment_counts = df['payment_method'].value_counts()
print(payment_counts)

**Feedback Analysis: Avg Rating Of Each Branch**

In [ ]:
# Top - 5 branches based on customer feedback are "WALM004, WALM076, WALM059, WALM026, WALM034"
df.groupby('branch')['rating'].mean().sort_values(ascending= False).head(5)

In [ ]:
# 5 worst performing branches based on customer feedback are "WALM056, WALM065, WALM054, WALM075, WALM099"
df.groupby('branch')['rating'].mean().sort_values().head(5)

**Time Analysis: During which time of day (e.g., morning, afternoon, evening) are the most sales made?**

In [ ]:
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S')

In [ ]:
def categorize_time(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

df['time_period'] = df['time'].dt.hour.apply(categorize_time)

In [ ]:
df.head()

In [ ]:
# Evening is most busy/revanue generating time of the day.
sales_by_time = df.groupby('time_period')['total'].sum().sort_values(ascending= False)
sales_by_time

In [ ]:
sales_by_time.plot(kind='bar', color='skyblue', figsize=(8, 6))
plt.title('Sales Distribution by Time of Day')
plt.xlabel('Time of Day')
plt.ylabel('Total Sales')
plt.xticks(rotation=0)
plt.show()

### PROFIT AND PRICING

**Top Products: Which Categories or Products Are Sold The Most Frequently?**

In [ ]:
# Top - 3 most selling categories are "Fashion accessories, Home and lifestyle, Electronic accessories"
top_categories = df.groupby('category')['quantity'].sum().sort_values(ascending= False)
top_categories

In [ ]:
top_categories.plot(kind='bar', color='skyblue', figsize=(10, 6))
plt.title('Top Categories by Quantity Sold')
plt.xlabel('Category')
plt.ylabel('Total Quantity Sold')
plt.xticks(rotation=45)
plt.show()

**Price vs. Quantity: Is there a correlation between unit price and quantity sold?**

In [ ]:
# A very weak positive correlation between "unit_price" and "quantity" sold
correlation_value = df['unit_price'].corr(df['quantity'])
print(f"Correlation between Unit Price and Quantity Sold: {correlation_value}")

### AGGREGATED INSIGHTS

**Average Sales: What is the average total sales per invoice?**

In [ ]:
average_sales_per_invoice = df.groupby('invoice_id')['total'].sum().mean()
print(f"Average Total Sales per Invoice: {average_sales_per_invoice:.2f}")

### CREATING CONNECTION WITH PG-ADMIN4(POSTGRESQL)

In [ ]:
username = "postgres"  
password = "17091342"
database = "walmart_db"


engine_psql = create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:5432/{database}')

In [ ]:
# Encounterd an error. month column is of period[M] datatype.
period_columns = df.select_dtypes(include=['period[M]']).columns
print("Columns with Period dtype:", period_columns)

In [ ]:
# Converting period_columns into object datatype.
for col in period_columns:
    df[col] = df[col].astype(str)

In [ ]:
df.info()

In [ ]:
df.to_sql(name='walmart', con=engine_psql, if_exists='replace', index=False)

In [ ]:
df.head()

### EXPORTING CLEANED DATA

In [ ]:
df.to_csv('walmart_clean_data.csv', index=False)